.button {
  display: flex;
  flex-direction: column;
  background: url("../../images/bg/add-garden-bed.png") no-repeat center / contain;
  width: 50px;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }
}
