.fox-barn {
  width: 300px;
  aspect-ratio: 1;
  background: url("../../images/bg/barn.png") no-repeat bottom / cover;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: flex-end;
}

.fox-barn__shelf {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100px;
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 36px;
  gap: 4px;
}

.fox-barn__shelf-item {
  background: url("../../images/bg/wooden-shelf.png") no-repeat center / cover, url("../../images/vegetables/onion.png") no-repeat center / contain;
}

.fox-barn__shelf--onion {
  background: url("../../images/vegetables/onion.png") no-repeat center / contain, url("../../images/bg/wooden-shelf.png") no-repeat center / cover;
}

.fox-barn__shelf--pumpkin {
  background: url("../../images/vegetables/pumpkin.png") no-repeat center / contain, url("../../images/bg/wooden-shelf.png") no-repeat center / cover;
}
