.fox-barn {
  width: 300px;
  aspect-ratio: 1;
  background: url("../../images/lamb.png") 70px 226px / 17% no-repeat, url("../../images/bg/barn.png") no-repeat bottom / cover, url(../../images/bg/puddle.png) 13px 249px / 27% no-repeat, url("../../images/bg/lawn.png") no-repeat bottom / cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.fox-barn__shelf {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
  width: 100px;
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 36px;
  gap: 4px;
}

.fox-barn__shelf-item {
  background: url("../../images/bg/wooden-shelf.png") no-repeat center / cover, url("../../images/vegetables/onion.png") no-repeat center / contain;
}

.fox-barn__shelf--onion {
  background: url("../../images/vegetables/onion.png") no-repeat center / contain, url("../../images/bg/wooden-shelf.png") no-repeat center / cover;
}

.fox-barn__shelf--pumpkin {
  background: url("../../images/vegetables/pumpkin.png") no-repeat center / contain, url("../../images/bg/wooden-shelf.png") no-repeat center / cover;
}

.fox-barn__shelf--zucchini {
  background: url("../../images/vegetables/zucchini.png") no-repeat center / contain, url("../../images/bg/wooden-shelf.png") no-repeat center / cover, #8e9cff;
}

// .fox-barn__shelf--lamb {
//   grid-column: 3/5;
//   background: url("../../images/lamb.png") 1px -1px / 80% no-repeat, url("../../images/bg/wooden-shelf.png") no-repeat center / cover;
// }

.fox-barn__shelf--cauliflower {
  background: url("../../images/vegetables/cauliflower.png") no-repeat center / contain, url("../../images/bg/wooden-shelf.png") no-repeat center / cover, #8e9cff;
}
