.garden {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.garden__title {
  font-family: "Bounce", "Arial", sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  color: #f67c01;
}

.garden__home {
  width: 300px;
  aspect-ratio: 1;
  background: url("../../images/fox/fox-squinting.png") -59px 44px / 95% no-repeat, url("../../images/home.svg") 10px 54px / 98% no-repeat, url(../../images/bg/puddle.png) 220px 247px / 27% no-repeat, url("../../images/bg/lawn.png") no-repeat bottom / cover, url(../../images/bg/sun.png) 197px 0 / 26% no-repeat;
  grid-row: 2;
  grid-column: 1;

  @media (min-width: $tablet-width) {
    //
  }
}

.garden__home--sun {
  background: url("../../images/bg/sun.png")-73px -113px / 146% no-repeat, url("../../images/home.svg") 10px 76px / 98% no-repeat, url("../../images/bg/lawn.png") no-repeat bottom / cover;
}

// .garden__home--rain {
//   background: url("../../images/bg/rain.png")-73px -113px / 146% no-repeat, url("../../images/home.svg") 10px 76px / 98% no-repeat, url("../../images/bg/lawn.png") no-repeat bottom / cover;
// }

// .garden__home--fox-cleaning {
//   background: url("../../images/fox/fox-cleaning.png") 104px 234px / 14% no-repeat, url("../../images/kolobok.png") 75px 259px / 8% no-repeat, url("../../images/home.svg") 10px 85px / 98% no-repeat;
// }

.garden__button {
  display: flex;
  gap: 15px;
  margin-block: 15px;
  grid-row: 4;
}

.garden__button-add-gardenbed {
  background: url("../../images/bg/add-garden-bed.png") no-repeat center / contain;
}

.garden__button-remove-gardenbed {
  background: url("../../images/bg/to-dig-up.png") no-repeat center / contain;
}

.garden__button-add-flowerbed {
  background: url("../../images/bg/add-flower-bed.png") no-repeat center / contain;
}

.garden__button-remove-flowerbed {
  background: url("../../images/bg/remove-flower-bed.png") no-repeat center / contain;
}

.garden__barn {
  grid-row: 3;
}

.garden__stall {
  grid-row: 3;
  align-self: end;
  margin-bottom: 18px;
}

.garden__field--fox-roaming {
  background: url("../../images/fox/fox-roaming.png") 158px 137px / 20% no-repeat, url("../../images/bg/field.png") no-repeat center / cover;
}
