.purple-grid {
  list-style: none;
  padding-inline: 0;
  padding-block: 10px;
  margin: 0 auto;
  width: 565px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 7px;
}

.purple-grid__item {
  height: 54px;
  background-color: #adc2f1;
  grid-column: span 3;

  &:nth-child(4n + 1):last-child {
    grid-column: span 12;
    background-color: #3a4f83;
  }

  &:nth-child(4n+1):nth-last-child(2),
  &:nth-child(4n+2):last-child {
    grid-column: span 6;
    background-color: #3a4f83;
  }

  &:nth-child(4n+1):nth-last-child(3),
  &:nth-child(4n+2):nth-last-child(2),
  &:nth-child(4n+3):last-child {
    grid-column: span 4;
    background-color: #3a4f83;
  }
}
